@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --pink: #f57dff;
  --blue: #57cbff;
  --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    --font-size-10: 1rem;
    --font-size-15: 1.5rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--navy);
  backdrop-filter: blur(10px);
  counter-reset: navitem section;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slide:hover {
  flex: 5;
}

.text-primary {
  color: var(--green);
  font-family: var(--font-mono);
}

.text-secondary {
  color: var(--light-slate);
  font-family: var(--font-mono);
  transition: var(--transition);
}

.text-secondary-hover:hover {
  color: var(--green);
  
}

.text-title {
  color: var(--lightest-slate);
  font-family: var(--font-mono);
}

.text-mono {
  font-family: var(--font-mono);
}

.text-sans {
  font-family: var(--font-sans);
}

.btn-primary {
  border: 1px solid var(--green);
  color: var(--green);
  transition: var(--transition);
}

.btn-primary:hover {
  background-color: var(--lightest-navy);
}


.numbered-navitem::before {
  position: relative;
  counter-increment: navitem 1;
  content: "0" counter(navitem) ".";
  margin-right: 10px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: var(--font-size-10);
  font-weight: 400;
}

.numbered-section::before {
  position: relative;
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 10px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: var(--font-size-15);
  font-weight: 400;
}

.main-section {
  padding: 0 150px;
}

.personal-image-container {
  position: relative;
  width: 200px;
}


.personal-image-cover {
  opacity: 0.3;
  background-color: var(--green);
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: var(--transition);
  border-radius: 5px;
}

.personal-image-border {
  display: block;
  position: absolute;
  top: 20px;
  bottom: -20px;
  right: -20px;
  left: 20px;
  z-index: -2;
  border: 1px solid var(--green);
  transition: var(--transition);
}

.personal-image{
  object-fit: cover;
  display: block;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.personal-image-container:hover .personal-image-cover {
  opacity: 0;
}

.personal-image-container:hover .personal-image-border {
  top: 10px;
  bottom: -10px;
  right: -10px;
  left: 10px;
}
